p {
	margin-bottom: 1.5em;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "“" "”";
	font-size: 1.2em;

	-webkit-margin-start: 0px;
}

blockquote:before {
  color: #ccc;
  content: '';
  line-height: 0.1em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

