.site-footer {
	margin-top: 6em;
	padding: 0 1em;
	background-color: #ff5454;
	p {
		font-size: .8em;
	}
}

@media screen and (min-width: 60em) {
	.site-footer {
		display: none;
/*		width: 30%;
		max-width: 265px;
		margin-top: 0;*/
	}
}